.GallHeader{
    margin: 0 auto;

}
.GallHeader .GallHeadBack{
    width: 100%; height: 300px;
    background-image: url(../../../images/Gallery/image&text_001.jpg);
    background-position: center;
    background: cover;
    

}
.GallHeadBack h1{
    width: 100%;
    color: #FFF;
    font-size: 52px;
    font-weight: 700;
    padding: 175px 0px 50px 330px;
}