.GallHeader{
    margin: 0 auto;

}
.GallHeadBack h1{
    width: 1920px;
    color: #FFF;
    font-size: 52px;
    font-weight: 700;
    padding: 175px 0px 50px 330px;
    position: absolute;
    display: block;
}

.GallHeader .GallHeadBack{
    width: 100%; height: 300px;
}
.GallHeadBack{
    display: flex;
    justify-content: center;
}
.GallHeadBack>img{
    margin: 0 auto;
    display: block;
}
