.Itr_FESTSURI{
    margin: 0 auto;
    width: 1280px; 
    height: 100vh;
    display: flex;
    align-items: center;
}

.Itr_FESTSURI>article{
    width: 100%;
}
.Itr_FESTSURILogoWrap{
    position: relative;
    z-index: 1;
}
.Itr_FestsuriLogo{
    width: 340.38px;
    height: 57.44px;
    position: absolute;
    left: 0px;
    top: -30px;
    z-index: -1;
}
.Itr_FestsuriLogo>svg{
    fill: #222;
    fill-opacity: .1;
}

.Itr_FESTSURI img{
    height: 75px;
}
.Itr_Fixe1, .Itr_Fixe2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Itr_Fixe1{
    padding-top: 50px;    
}
.Itr_Fixe2{
    padding: 80px 0 50px 0; 
}
.Itr_Fixe1>div, .Itr_Fixe2>div{
    width: 600px;
}
.Itr_FESTSURI> .Itr_FestText, .Itr_FESTSURI h2{
color: #222;
font-size: 32px;
font-weight: 700;
line-height: 150%;
}
.Itr_FESTSURI h3{
color: #222;
font-weight: 700;
letter-spacing: -0.96px;
padding: 10px 0px 10px 0px;
}

.Itr_FESTSURI p{
color: #222;
font-size: 18px;
font-weight: 400;
}
