.party_top {
    width: 100%;
    height: 300px;
    background-image: url(../../../images/Exhibition/상단\ 배경이미지\ &\ 텍스트.png);
    background-size: cover;
}

.party_top>h2 {
    padding-top: 200px;
    color: #FFF;
    font-size: 52px;
    font-weight: 700;
    padding-left: 330px;
}

.party_go {
    display: flex;
    width: 95px;
    padding: 50px 0;
    justify-content: space-around;
}

.party_go>li>a {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 10px;
    border: 1px solid #666;
    border-radius: 50px;
    display: block;
}

.party {
    width: 1920px;
    margin: 0 auto;
    padding-top: 80px;
}

.party_middle {
    width: 1280px;
    margin: 0 auto;
}



.party_arrow {
    position: relative;
}

.party_arrow::after {
    position: absolute;
    left: -8px;
    top: 9px;
    content: '';
    width: 8px;
    height: 8px;
    border-top: 2px solid #dddd;
    border-right: 2px solid #dddd;
    transform: rotate(45deg);
}

.party_poster1{
    padding-top: 50px;
    margin: 0 auto;
    width:1280px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'box1  box2 box3 box4'
    'box5  box6 box7 box8'
    ;
    row-gap: 30px;
}
