.party_top {
    width: 100%;
    height: 300px;
    background-image: url(../Exhibition/images/상단\ 배경이미지\ &\ 텍스트.png);
    background-size: cover;
}

.party_top>h2 {
    padding: 175px 0px 50px 330px;
    color: #FFF;
    font-size: 52px;
    font-weight: 700;
}



.party {
    width: 1920px;
    margin: 0 auto;
    padding-top: 80px;
}

.party_middle {
    width: 1280px;
    margin: 0 auto;
}
.party_arrow {
    position: relative;
}

.party_arrow::after {
    position: absolute;
    left: -16px;
    top: 10px;
    content: '';
    width: 8px;
    height: 8px;
    border-top: 2px solid #dddd;
    border-right: 2px solid #dddd;
    transform: rotate(45deg);
}

.party_poster1 {
    margin: 0 auto;
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'box1 box2 box3 box4'
        'box5 box6 box7 box8'
    ;
    row-gap: 30px;
}

.party_tapNum {
    display: flex;
    justify-content: center;
    padding: 50px 0px 150px 0px;
    gap: 5px;
}

.party_tapNum>li>button {
    width: 30px;
    height: 30px;
    background: #EEE;
    color: #888;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.party_tapNum>li>.active {
    background-color: #295bde;
    color: #fff;
}


