.Main_IntroSection{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #2C3E50 0%, #2980B9 100%);
    display: flex;
    overflow: hidden;

}
/* Main 배경색, 크기 */
.Main_IntroSection>.Text_Sector{
    padding-left: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Main_IntroSection>.Text_Sector>h1{
    color: #FFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}
.Main_IntroSection>.Text_Sector>h1>span{
    color: #FDE177;
}
.Main_IntroSection>.Text_Sector>p{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
}

.Main_IntroSection>article{
    margin-top: 80px;
}
/* Main 텍스트 지정 */

.Three_Sector{
    width: 100%;
    height: calc(100% - 80px);
    position: absolute;
}
#my_canvas {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.Three_Sector>.ThreeBackLight{
    position: absolute;
    right: 6%;
    width: 50%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #fde0776e 0%, rgba(255, 217, 144, 0.00) 100%);
}

/* three Sector */

.Main_SlideSection{ 
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 230px 0 100px 0;
    height: 630px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

.Main_Slider {
    background: #282828;
    display: flex;
    align-items: center;
    z-index: 3;
}

.Main_Slider>.Slide{
    min-width: 1280px;
    transition: filter .3s ease-in-out;
}

.Main_Slider>.Slide>a{
    display: flex;
}
.Main_Slider>.Slide>a>img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.MainSlide_BlackBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282828;
}

.MainSlide_BtnWrap{
    width: 1600px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.MainSlide_Btn{
    width: 100px;
    height: 100px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.MainSlide_Btn>svg{
    height: 80%;
}
.MainSlide_PrevBtn{
    left: 10%;
}
.MainSlide_NextBtn{
    right: 10%;
    transform: rotate(180deg);
}
/* MainSlide 완료 */

.Main_TitleWrap{
    width: 1280px;
    margin: 100px auto 30px auto;
    display: flex;
    justify-content: space-between;
}
.Main_TitleWrap>.Item_Link{
    width: 250px;
    display: flex;
    justify-content: right;
}
.Main_TitleWrap>.Item_Link>a{
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.Main_TitleWrap .Item_LinkTitle{
    margin-right: 5px;
    color: #000;
    font-size: 18px;
    font-weight: 300;
}
.Main_TitleWrap .Item_MainTitle{
    color: #111;
    font-size: 26px;
    font-weight: 700;
}
.Main_TitleWrap .Item_SubTitle{
    color: #666;
    font-size: 16px;
    font-weight: 400;
}
.Main_TitleWrap .Link_ArrowPoint {
    position: relative;
    display: flex;
    align-items: center;
    height: 26px;
    overflow: hidden;
    transform: translateY(1px);
}
.Main_TitleWrap .Link_ArrowPoint>svg {
    fill: #000;
    position: relative;
    overflow: visible;
}
.Main_TitleWrap svg.Main_Item_ArrowStroke{
    width: 60px;
    height: 16px;
}
.Main_TitleWrap .Item_Link:hover svg.Main_Item_ArrowStroke{
    width: 0px;
    height: 16px;
    transition: width 1s ease-in-out;
}

.Main_TitleWrap .Item_Link>a>.Link_ArrowPoint>svg>line.Main_Item_ArrowLine {
    transform: translateX(10%) scaleX(1);
}
.Main_TitleWrap .Item_Link:hover>a>.Link_ArrowPoint>svg>line.Main_Item_ArrowLine {
    transform: translateX(10%) scaleX(0);
    transform-origin: right center;
    transition: transform 1s ease-in-out;
}
.Main_TitleWrap .Item_Link>a>.Link_ArrowPoint>svg>path.Main_Item_ArrowHead{
    transform: translateY(-0.5px) scale(1);
}
.Main_TitleWrap .Item_Link:hover>a>.Link_ArrowPoint>svg>path.Main_Item_ArrowHead{
    transform:  translateY(-0.5px) scale(1.10);
    transform-origin: center center;
    transition: transform 1s ease-in-out;
}
/* 제목 컴포넌트 속성 끝 */

.Main_EventSection{
    margin: 0 auto 150px auto;
    width: 1280px;
    display: flex;
}
.FESTSURI_App_Intro{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    margin-right: 20px;
    flex: 1;
}
.FESTSURI_App_Intro>div,.FESTSURI_App_Info>div{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.40);
    position: relative;
    overflow: hidden;
} /* 페스츠리 앱 소개 전체 박스 스타일 */
.Store_Interlock{
    height: 420px;
    margin-bottom: 20px;
    display: flex;
}
.Notice_Interlock{
    height: 200px;
    display: flex;
    position: relative;
}
.FESTSURI_App_Info{
    width: 450px;
}
.FESTSURI_App_Info>div{
    height: 200px;
}
.FESTSURI_App_Info>div:not(:last-of-type){
    margin-bottom: 20px;
}

.FESTSURI_App_Intro>.Store_Interlock>.Gradient_Box{
    background: linear-gradient(90deg, #185A9D 0%, #42CCA2 100%);
    width: 31%;
    height: 100%;
    transition: width .5s ease-in-out;
}
.FESTSURI_App_Intro>.Store_Interlock>.Gradient_Box>.Emoji_Box>img{
    transform: scale(0.8);
    transform-origin: center center;
    transition: transform .5s ease-in-out;
}
.FESTSURI_App_Intro>.Store_Interlock:hover>.Gradient_Box{
    width: 39%;
}
.FESTSURI_App_Intro>.Store_Interlock:hover>.Gradient_Box>.Emoji_Box>img{
    transform: scale(0.9);
}
.FESTSURI_App_Intro>.Store_Interlock>.Suggest_Box{
    width: 100%;
    position: relative;
}

.FESTSURI_App_Intro>.Store_Interlock>.Suggest_Box>.Logo_Box{
    width: 200px;
    position: absolute;
    right: 225px;
    top: 30px;

}
.FESTSURI_App_Intro>.Store_Interlock>.Suggest_Box>.Logo_Box>svg{
    fill: #2C3350;
}
.FESTSURI_App_Intro>.Store_Interlock>.Suggest_Box>.Text_Box{
    color: #222;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1.6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 136px;
    transition: left .5s ease-in-out;
}
.FESTSURI_App_Intro>.Store_Interlock:hover>.Suggest_Box>.Text_Box{
    left: 86px;   
}
.FESTSURI_App_Intro>.Store_Interlock>.Suggest_Box>.Text_Box>span.Text_HighLight{
    color: #1FAA7F;
    font-weight: 900;
}
.FESTSURI_App_Intro>.Store_Interlock>.Suggest_Box>.Store_Link_Box{
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
}
.FESTSURI_App_Intro>.Store_Interlock>.Suggest_Box>.Store_Link_Box>div>a{
    display: inline-block;
    padding: 10px 15px 10px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #2C3350;
    position: relative;
}
.FESTSURI_App_Intro>.Store_Interlock>.Suggest_Box>.Store_Link_Box>div:first-of-type>a{
    margin-right: 15px;
}
.FESTSURI_App_Intro>.Store_Interlock>.Suggest_Box>.Store_Link_Box>div>a>svg{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.FESTSURI_App_Intro>.Store_Interlock>.Suggest_Box>.Store_Link_Box>div>a>div{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.72px;
}
/* 이벤트 섹션 첫번째 아이템, 이벤트 섹션 전역 설정 */


.FESTSURI_App_Intro>.Notice_Interlock>.Gradient_Box{
    background: linear-gradient(90deg, #43CEA2 0%, #185A9D 100%);
    width: 384px;
    height: 100%;
    display: flex;
    overflow: hidden;
    transition: width 1.3s ease-in-out;
    /* width: 100%; */
}
.FESTSURI_App_Intro>.Notice_Interlock:hover>.Gradient_Box{
    width: 100%;
}
.FESTSURI_App_Intro>.Notice_Interlock>.Gradient_Box>.Logo_Box{
    width: 284px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.FESTSURI_App_Intro>.Notice_Interlock>.Gradient_Box>.Logo_Box>svg{
    fill: #fff;
}
.FESTSURI_App_Intro>.Notice_Interlock .NoticeTitle{
    color: #222;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.8px;
    position: absolute;
    right: 66px;
    top: 40px;
}
.FESTSURI_App_Intro>.Notice_Interlock .MoreView_Btn>a{
    color: #484848;
}
.FESTSURI_App_Intro>.Notice_Interlock .MoreView_Btn{
    display: inline-block;
    height: 45px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #484848;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.FESTSURI_App_Intro>.Notice_Interlock .Notice_Transition_InterBox{
    z-index: 1;
}
.FESTSURI_App_Intro>.Notice_Interlock .Notice_Transition_InterBox .MoreView_Btn{
    border: 1px solid #FFF;
    position: relative;
    left: 631px;
    top: 67px;
}
.FESTSURI_App_Intro>.Notice_Interlock .Notice_Transition_InterBox .MoreView_Btn>a{
    color: #FFF;
}
.FESTSURI_App_Intro>.Notice_Interlock .Notice_Transition_InterBox .NoticeTitle{
    color: #FFF;
    position: relative;
    left: 419px;
    top: 40px;
}
/* APP 섹션 왼쪽 아이템 종료 */

.FESTSURI_App_Info>div{
    display: flex;
    align-items: center;
}
.FESTSURI_App_Info>div>div{
    flex: 1;
}
.FESTSURI_App_Info>div>.Text_Item{
    color: #222;
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
    white-space: nowrap;
}
.FESTSURI_App_Info>div>.Text_Item span.Purple_Highlight{
    color: #9200D6;
}
.FESTSURI_App_Info>div>.Text_Item span.Green_Highlight{
    color: #27B287;
}
.FESTSURI_App_Info>div>.Text_Item span.Blue_Highlight{
    color: #3678BB;
}

/* 텍스트랩 공통설정  */

.FESTSURI_App_Info .Img_Item img{
    width: 100%;
}
/* 이미지랩 공통설정 */

.FESTSURI_App_Info>.Ticket_Wrap .Coupon_Item1{
    width: 108px;
    transform: scaleX(-1);
    position: absolute;
    right: 104px;
    bottom: 118px;
    transition: all .5s ease-in-out;
}
.FESTSURI_App_Info>.Ticket_Wrap .Coupon_Item2{
    width: 174px;
    position: absolute;
    top: 60px;
    right: 12px;
    transition: all .5s ease-in-out;
}
/* 쿠폰 랩 */

.FESTSURI_App_Info>.Photo_Wrap .Photo_Item1{
    position: absolute;
    right: 86px;
    top: 39px;
    transition: all .5s ease-in-out;
}
.FESTSURI_App_Info>.Photo_Wrap .Photo_Item2{
    position: absolute;
    right: 25px;
    top: 31px;
    transition: all .5s ease-in-out;
}

.FESTSURI_App_Info>.Photo_Wrap .Camera_Item{
    width: 130px;
    position: absolute;
    right: 50px;
    top:65px;
}

/* 포토 랩 */

.FESTSURI_App_Info>.Ticket_Wrap:hover .Coupon_Item1{
    width: 130px;
    transform: scaleX(-1) rotate(-10deg);
    right: 86px;
    bottom: 86px;
}
.FESTSURI_App_Info>.Ticket_Wrap:hover .Coupon_Item2{
    transform: rotate(-8.308deg);
    width: 184px;
    top: 85px;
    right: -5px;
}
/* 쿠폰 랩 호버 */

.FESTSURI_App_Info>.Map_Wrap .Map_Item svg{
    transition: .5s ease-in-out;
}
.FESTSURI_App_Info>.Map_Wrap:hover .Map_Item svg{
    transform: rotate(20deg) scale(1.15) translate( 25px,5px);
}
/* 맵 랩 호버 */

.FESTSURI_App_Info>.Photo_Wrap:hover .Photo_Item1{
    transform: rotate(7.686deg);
    right: 63px;
    top: 30px;
}
.FESTSURI_App_Info>.Photo_Wrap:hover .Photo_Item2{
    right: 30px;
    top: 31px;
    transform: rotate(-18.922deg);
}
/* 포토 랩 호버 */

.FESTSURI_App_Info>div span{
    display: inline-block;
    transition: transform .5s ease-in-out;
}
.FESTSURI_App_Info>div:hover span{
    transform: scale(1.1);
    transform-origin: center center;
}
/* Span 호버 */

.Main_PtySection,.Main_ExbSection{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
.Main_ExbSection{
    padding-bottom: 50px;
}
.Main_PtySection>div.party_poster{
    width: 220px;
}
.Main_PtySection>div.party_poster>a>img.party_poster_img{
    width: 100%;
    height: 275px;
}
.Main_ExbSection>div.poster{
    width: 220px;
}
.Main_ExbSection>div.poster>a>img.poster_img{
    width: 100%;
    height: 275px;
}
.Main_TitleWrap:nth-of-type(2){
    margin: 50px auto 30px auto;
}
/* 컴포넌트 메인 불러오기 완료  */

.Main>section.Itr_FESTSURI{
    height:auto;
    margin: 0 auto 150px auto;
}