.Main_IntroSection{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #2C3E50 0%, #2980B9 100%);
    display: flex;
    overflow: hidden;

}
/* Main 배경색, 크기 */
.Main_IntroSection>.Text_Sector{
    padding-left: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Main_IntroSection>.Text_Sector>h1{
    color: #FFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}
.Main_IntroSection>.Text_Sector>h1>span{
    color: #FDE177;
}
.Main_IntroSection>.Text_Sector>p{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
}

.Main_IntroSection>article{
    margin-top: 80px;
}
/* Main 텍스트 지정 */

.Three_Sector{
    width: 100%;
    height: calc(100% - 80px);
    position: absolute;
}
#my_canvas {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.Three_Sector>.ThreeBackLight{
    position: absolute;
    right: 6%;
    width: 50%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #fde0776e 0%, rgba(255, 217, 144, 0.00) 100%);
}

/* three Sector */

.Main_SlideSection{ 
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 230px 0 100px 0;
    height: 630px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

.Main_Slider {
    background: #282828;
    display: flex;
    align-items: center;
    z-index: 3;
}

.Main_Slider>.Slide{
    min-width: 1280px;
    transition: filter .3s ease-in-out;
}

.Main_Slider>.Slide>a{
    display: flex;
}
.Main_Slider>.Slide>a>img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.MainSlide_BlackBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282828;
}

.MainSlide_BtnWrap{
    width: 1600px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.MainSlide_Btn{
    width: 100px;
    height: 100px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.MainSlide_Btn>svg{
    height: 80%;
}
.MainSlide_PrevBtn{
    left: 10%;
}
.MainSlide_NextBtn{
    right: 10%;
    transform: rotate(180deg);
}
/* MainSlide 완료 */

.Main_TitleWrap{
    width: 1280px;
    margin: 100px auto 30px auto;
    display: flex;
    justify-content: space-between;
}
.Main_TitleWrap>.Item_Link{
    width: 250px;
    display: flex;
    justify-content: right;
}
.Main_TitleWrap>.Item_Link>a{
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.Main_TitleWrap .Item_LinkTitle{
    margin-right: 5px;
    color: #000;
    font-size: 18px;
    font-weight: 300;
}
.Main_TitleWrap .Item_MainTitle{
    color: #111;
    font-size: 26px;
    font-weight: 700;
}
.Main_TitleWrap .Item_SubTitle{
    color: #666;
    font-size: 16px;
    font-weight: 400;
}
.Main_TitleWrap .Link_ArrowPoint {
    position: relative;
    display: flex;
    align-items: center;
    height: 26px;
    overflow: hidden;
    transform: translateY(1px);
}
.Main_TitleWrap .Link_ArrowPoint>svg {
    fill: #000;
    position: relative;
    overflow: visible;
}
.Main_TitleWrap svg.Main_Item_ArrowStroke{
    width: 60px;
    height: 16px;
}
.Main_TitleWrap .Item_Link:hover svg.Main_Item_ArrowStroke{
    width: 0px;
    height: 16px;
    transition: width 1s ease-in-out;
}

.Main_TitleWrap .Item_Link>a>.Link_ArrowPoint>svg>line.Main_Item_ArrowLine {
    transform: translateX(10%) scaleX(1);
}
.Main_TitleWrap .Item_Link:hover>a>.Link_ArrowPoint>svg>line.Main_Item_ArrowLine {
    transform: translateX(10%) scaleX(0);
    transform-origin: right center;
    transition: transform 1s ease-in-out;
}
.Main_TitleWrap .Item_Link>a>.Link_ArrowPoint>svg>path.Main_Item_ArrowHead{
    transform: translateY(-0.5px) scale(1);
}
.Main_TitleWrap .Item_Link:hover>a>.Link_ArrowPoint>svg>path.Main_Item_ArrowHead{
    transform:  translateY(-0.5px) scale(1.10);
    transform-origin: center center;
    transition: transform 1s ease-in-out;
}

/* 제목 컴포넌트 속성 끝 */

