.Board {
    width: 1280px;
    margin: 0 auto;
    padding-top: 180px;
}

.Board .brd_P {
    cursor: pointer;
    user-select: none;
}

.brd_topTitle {
    font-weight: 700;
    color: #111;
    padding: 0 0 20px 10px;
}

/*  */
.Board .bthflexstyle {
    margin: 30px;
    display: flex;
    gap: 20px;
}

.Board .addNftItembtn {
    width: min-content;
    white-space: nowrap;
    display: flex;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    color: #fff;
    border-radius: 5px;
    background: #2183CE;
}

.Board .addNftItembtn>i {
    width: 20px;
    height: 15px;
    background: url(./../../../images/Board/check_icon.png) no-repeat;
    background-size: contain;
}

/*  */

.Board .linkboxs {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.Board .linkboxs>a {
    display: block;
    padding: 10px 20px;
    background-color: #2183CE;
    color: #fff;
    border-radius: 5px;
}