.Board {
    width: 1280px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 250px;
}

.Board .brd_P {
    cursor: pointer;
    user-select: none;
}

.brd_topTitle {
    font-weight: 700;
    color: #111;
    padding: 0 0 20px 10px;
}

/*  */

.brd_NftIqryTitle,
.NftItem {
    height: 40px;
    padding: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brd_NftIqryTitle {
    border-bottom: 2px solid #222;
}

.NftItem {
    border-bottom: 1px solid #DDD;
}

.brd_NftIqryTitle>li {
    font-size: 18px;
    font-weight: 500;
}

.brd_NftIqryTitle>li:nth-child(1),
.brd_NftIqryItemNum {
    width: 70px;
    text-align: center;
}

.brd_NftIqryTitle>li:nth-child(3),
.brd_NftIqryItemDay {
    padding: 0 30px;
}