.brd_tapAserch {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NftTap .brd_tap {
    height: 53px;
    position: relative;
}

.NftTap .brd_tap ul {
    display: flex;
    white-space: nowrap;
    box-sizing: border-box;
    transition: .2s;
}

.NftTap .brd_tap>ul {
    color: #222;
    border-top: .5px solid #999;
    border-bottom: .5px solid #999;
    position: absolute;
}

.NftTap .brd_tap li {
    padding: 12px 30px;
    font-size: 20px;
}

.NftTap .brd_tap>ul>li:nth-child(1) {
    color: #fff;
    background: #0B6DB7;
}

.NftTap .brd_Search {
    width: 300px;
    height: 40px;
    border-bottom: .5px solid #999;
    position: relative;
}

.NftTap .brd_Search>input {
    width: 255px;
    height: 40px;
    padding: 5px 0px 5px 10px;
    font-size: 18px;

    background-color: transparent;
    border: transparent;
    outline: none;

    position: absolute;
    box-sizing: border-box;
}

.NftTap .brd_Search>input::placeholder {
    color: #999;
}

.NftTap .brd_Search>i {
    width: 22px;
    height: 22px;

    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    right: 10px;

    background: url(/src/images/Board/magnifying_glass_icon.png) no-repeat;
    background-size: contain;
}


.NftCrt {
    width: 1280px;
    margin: 0 auto;
    padding-top: 180px;
}

.NftCrt .brd_titleOncheck {}

/* 하단 페이지 네비게이션 버튼 */
.NumberPageTab>ul {
    display: flex;
}

.NumberPageTab>ul>li {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background: #EEE;
}

.NumberPageTab>ul>li:last-child {
    margin-right: 0px;
}

.NumberPageTab>ul>li:hover {
    background-color: #ddd;
}

.NumberPageTab>ul>li>i {
    width: 10px;
    height: 12px;
}

.NumberPageTab .first {
    /* background: url(./../../../images/Board/first_pge_tab_btn_icon.png) no-repeat; */
    background-size: cover;
}

.NumberPageTab .before {
    /* background: url(./../../../images/Board/before_tab_btn_icon.png) no-repeat; */
    background-size: cover;
}

.NumberPageTab .next {
    /* background: url(./../../../images/Board/next_tab_btn_icon.png) no-repeat; */
    background-size: cover;
}

.NumberPageTab .back {
    /* background: url(./../../../images/Board/back_tab_btn_icon.png) no-repeat; */
    background-size: cover;
}


/* NftCrt 페이지 디자인 */

.NftCrt>div {
    width: 1280px;
    margin: 0 auto;
}

.NftlinkBtnHeader {
    padding-top: 200px;
}

.NftlinkBtnHeader a {
    width: min-content;
    white-space: nowrap;
    display: block;
    padding: 50px 50px;
    margin-top: 50px;
    background-color: #2183CE;
    color: #fff;
    border-radius: 5px;
}

.NftCrt .NftCrtTop {
    display: flex;
    justify-content: space-between;
}

.NftCrt .NftCrtTop>ul,
.NftCrt .NftCrtTop>ol,
.NftCrt .NftCrtTop>ul>li,
.NftCrt .NftCrtTop>ol li {
    display: flex;
}

.NftCrt .NftCrtTop>ul {
    display: flex;
    width: 850px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.NftCrt .NftCrtTop>ul>li {
    display: flex;
    align-items: center;
    gap: 30px;
}

.NftCrt .NftCrtTop>ul>li>h4 {
    color: #000;
    font-weight: 700;
}

.NftCrt .NftCrtTop>ul>li>input {
    width: 500px;
    height: 30px;
    border: transparent;
    font-size: 20px;
    color: #222;
    outline: none;
}

.NftCrt .NftCrtTop>ol {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.NftCrt .NftCrtTop>ol li {
    display: flex;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    color: #fff;
    border-radius: 5px;
}

.NftCrt .NftCrtTop>ol>a>li>i {
    width: 20px;
    height: 15px;
}

.NftCrt .NftCrtTop>ol>a:nth-child(1) li {
    background: #959EA2;
}

.NftCrt .NftCrtTop>ol>a:nth-child(1) i {
    /* background: url(./../../../images/Board/return_icon.png) no-repeat; */
    background-size: contain;
}

.NftCrt .NftCrtTop>ol>a:nth-child(2) li {
    background: #2183CE;
}

.NftCrt .NftCrtTop>ol>a:nth-child(2)>li>i {
    /* background: url(./../../../images/Board/check_icon.png) no-repeat; */
    background-size: contain;
}