.brd_tapAserch {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NftTap {
    padding-top: 180px;
}

.NftTap .brd_tap {
    height: 53px;
    position: relative;
}

.NftTap .brd_tap ul {
    display: flex;
    white-space: nowrap;
    box-sizing: border-box;
    transition: .2s;
}

.NftTap .brd_tap>ul {
    color: #222;
    border-top: .5px solid #999;
    border-bottom: .5px solid #999;
    position: absolute;
}

.NftTap .brd_tap li {
    padding: 12px 30px;
    font-size: 20px;
}

.NftTap .brd_tap>ul>li:nth-child(1) {
    color: #fff;
    background: #0B6DB7;
}

.NftTap .brd_Search {
    width: 300px;
    height: 40px;
    border-bottom: .5px solid #999;
    position: relative;
}

.NftTap .brd_Search>input {
    width: 255px;
    height: 40px;
    padding: 5px 0px 5px 10px;
    font-size: 18px;

    background-color: transparent;
    border: transparent;
    outline: none;

    position: absolute;
    box-sizing: border-box;
}

.NftTap .brd_Search>input::placeholder {
    color: #999;
}

.NftTap .brd_Search>i {
    width: 22px;
    height: 22px;

    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    right: 10px;

    background: url(/src/images/Board/magnifying_glass_icon.png) no-repeat;
    background-size: contain;
}

.brd_Nftbottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 150px 0;
}

.brd_Nftbottom>div:nth-child(1) {
    width: 119.2px;
}

.brd_Nftbottom>div:nth-child(2) {
    display: flex;
    gap: 5px;
}

.brd_Nftbottom>div:nth-child(2)>div {
    width: 30px;
    height: 30px;
    background: #EEE;
    color: #888;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brd_Nftbottom>div:nth-child(3) {
    padding: 7px 32px;
    background: #185A9D;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

/* 글작성페이지 */
.NftCrt {
    width: 1280px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 250px;
}

.NftCrt .brd_titleOncheck {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NftCrt .brd_CrtBtn,
.NftCrt .brd_CrtBtn>* {
    display: flex;
}

.NftCrt .brd_CrtBtn>* {
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NftCrt .brd_CrtBtn i {
    width: 20px;
    height: 18px;
    margin-right: 5px;
}

.NftCrt .brd_CrtBtn>a {
    background-color: #2183CE;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.NftCrt .brd_CrtBtn>button {
    border: none;
    background-color: #959EA2;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.NftCrt .brd_CrtBtn>a>i {
    background: url(/src/images/Board/return_icon.png) no-repeat;
    background-size: contain;
}

.NftCrt .brd_CrtBtn>button>i {
    background: url(/src/images/Board/check_icon.png) no-repeat;
    background-size: contain;
}


.NftCrt .brd_titleOncheck>input {
    border: none;
    border-bottom: 1px solid #999;
    width: 800px;
    height: 35px;
    font-size: 20px;
    color: #999;
    outline: none;
}

.NftCrt>textarea {
    width: 1280px;
    height: 550px;
    padding: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25) inset;
}

.NftCrt>textarea::placeholder {
    color: #999;
}

/* NftDeta 공지사항 디테일 페이지 디자인 */
.NftDeta {
    padding-top: 180px;
    padding-bottom: 250px;
}

.brd_NftIqryDetatop {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 30px;
}

.brd_DetaLeft>div {
    display: flex;
    gap: 5px;
    padding-bottom: 15px;
}

.brd_DetaLeft>div:nth-child(1)>input {
    width: 700px;
    font-size: 20px;

    background-color: transparent;
    border: transparent;
    outline: none;
}

.brd_DetaLeft>div>h4:nth-child(2) {
    font-weight: 500;
}

.brd_DetaLeft>ul {
    display: flex;
    gap: 20px;
}

.brd_DetaLeft>ul>li {
    display: flex;
    gap: 10px;
    font-size: 13px;
}

.brd_DetaLeft>ul>li>div:nth-child(1) {
    font-weight: 500;
}

.brd_DetaLeft>ul>li>div:nth-child(2) {
    color: #333;
}