.brd_tapAserch {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NftTap,
.IqryTap,
.FAQTap {
    padding-top: 180px;
}

.FAQTap {
    padding-bottom: 150px;
}

.NftTap .brd_tap,
.IqryTap .brd_tap,
.FAQTap .brd_tap {
    height: 53px;
    position: relative;
}

.NftTap .brd_tap ul,
.IqryTap .brd_tap ul,
.FAQTap .brd_tap ul {
    display: flex;
    white-space: nowrap;
    box-sizing: border-box;
    transition: .2s;
}

.NftTap .brd_tap>ul,
.IqryTap .brd_tap>ul,
.FAQTap .brd_tap>ul {
    color: #222;
    border-top: .5px solid #999;
    border-bottom: .5px solid #999;
    position: absolute;
}

.NftTap .brd_tap li,
.IqryTap .brd_tap li,
.FAQTap .brd_tap li {
    padding: 12px 30px;
    font-size: 20px;
}

.NftTap .brd_tap>ul>li:nth-child(1),
.IqryTap .brd_tap>ul>li:nth-child(2),
.FAQTap .brd_tap>ul>li:nth-child(3) {
    color: #fff;
    background: #0B6DB7;
}

.NftTap .brd_Search,
.IqryTap .brd_Search {
    width: 300px;
    height: 40px;
    border-bottom: .5px solid #999;
    position: relative;
}

.NftTap .brd_Search>input,
.IqryTap .brd_Search>input {
    width: 255px;
    height: 40px;
    padding: 5px 0px 5px 10px;
    font-size: 18px;

    background-color: transparent;
    border: transparent;
    outline: none;

    position: absolute;
    box-sizing: border-box;
}

.NftTap .brd_Search>input::placeholder,
.IqryTap .brd_Search>input::placeholder {
    color: #999;
}

.NftTap .brd_Search>i,
.IqryTap .brd_Search>i {
    width: 22px;
    height: 22px;

    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    right: 10px;

    background: url(./images/icon/magnifying_glass_icon.png) no-repeat;
    background-size: contain;
}

.brd_bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 150px 0;
}

.brd_bottom>div:nth-child(1) {
    width: 119.2px;
}

.brd_bottom>div:nth-child(2) {
    display: flex;
    gap: 5px;
}

.brd_bottom>div:nth-child(2)>div {
    width: 30px;
    height: 30px;
    background: #EEE;
    color: #888;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brd_bottom>div:nth-child(3) {
    padding: 7px 32px;
    background: #185A9D;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

/* 글작성페이지 */
.NftCrt,
.IqryCrt {
    width: 1280px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 250px;
}

.NftCrt .brd_titleOncheck,
.IqryCrt .brd_titleOncheck {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.IqryCrt .IqryCrtTitle {
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.IqryCrt .IqryCrtTitle>div {
    display: flex;
    gap: 30px;
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.IqryCrt .IqryCrtTitle>div>input {
    width: 200px;
    font-size: 20px;
    color: #999;
    font-weight: 500;

    background-color: transparent;
    border: transparent;
    outline: none;
    box-sizing: border-box;
}

.NftCrt .brd_CrtBtn,
.NftCrt .brd_CrtBtn>*,
.IqryCrt .brd_CrtBtn,
.IqryCrt .brd_CrtBtn>* {
    display: flex;
}

.NftCrt .brd_CrtBtn>*,
.IqryCrt .brd_CrtBtn>* {
    height: 40px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.NftCrt .brd_CrtBtn i,
.IqryCrt .brd_CrtBtn i {
    width: 20px;
    height: 18px;
    margin-right: 5px;
}

.NftCrt .brd_CrtBtn>div,
.IqryCrt .brd_CrtBtn>div {
    background-color: #959EA2;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.NftCrt .brd_CrtBtn>button,
.IqryCrt .brd_CrtBtn>button {
    border: none;
    background: #2183CE;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.NftCrt .brd_CrtBtn>div>i,
.IqryCrt .brd_CrtBtn>div>i {
    background: url(./images/icon/return_icon.png) no-repeat;
    background-size: contain;
}

.NftCrt .brd_CrtBtn>button>i,
.IqryCrt .brd_CrtBtn>button>i {
    background: url(./images/icon/check_icon.png) no-repeat;
    background-size: contain;
}


.NftCrt .brd_titleOncheck>input,
.IqryCrt .brd_titleOncheck>input {
    border: none;
    border-bottom: 1px solid #999;
    width: 800px;
    height: 35px;
    font-size: 20px;
    color: #999;
    outline: none;
}

.NftCrt>textarea,
.IqryCrt>textarea {
    width: 1280px;
    height: 550px;
    padding: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25) inset;
}

.NftCrt>textarea::placeholder {
    color: #999;
}

/* NftDeta 공지사항 디테일 페이지 디자인 */
.NftDeta,
.IqryDeta {
    padding-top: 180px;
    padding-bottom: 250px;
}

.brd_NftIqryDetatop {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 30px;
}

.brd_DetaLeft>div {
    display: flex;
    gap: 5px;
    padding-bottom: 15px;
}

.brd_DetaLeft>div:nth-child(1)>input {
    width: 700px;
    font-size: 20px;

    background-color: transparent;
    border: transparent;
    outline: none;

    font-weight: bold;
}

.brd_DetaLeft>div>h4:nth-child(2) {
    font-weight: 500;
}

.brd_DetaLeft>ul {
    display: flex;
    gap: 20px;
}

.brd_DetaLeft>ul>li {
    display: flex;
    gap: 10px;
    font-size: 13px;
}

.brd_DetaLeft>ul>li>div:nth-child(1) {
    font-weight: 500;
}

.brd_DetaLeft>ul>li>div:nth-child(2) {
    color: #333;
}

/* 문의사항 페이지 답변 */
.brd_IqryAnswer {
    display: flex;
    width: 1280px;
    padding: 30px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    border-bottom: 1px solid #999;
    white-space: pre-line;
}

.brd_IqryAnswer>p {
    color: #000;
    font-weight: 400;
    line-height: 150%;
}

.brd_IqryAnswer>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.brd_IqryAnswer>textarea {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
    font-weight: bold;
    box-sizing: border-box;
}

.brd_IqryAnswer>div>ul {
    display: flex;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #0B6DB7;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.brd_IqryAnswer>div>ul>i {
    width: 18px;
    height: 18px;
    background: url(./images/icon/pencil_icon.png) no-repeat;
    background-size: contain;
}

.brd_IqryAnswer>div>ol {
    display: flex;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #B82647;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.brd_IqryAnswer>div>ol>i {
    width: 16.12px;
    height: 18.35px;
    background: url(./images/icon/trash_can_icon.png) no-repeat;
    background-size: cover;
}

/* 문의사항 탭 css */
.FAQItem {
    background-color: #fff;
}

.FAQItem>.brd_FAQItemTitle {
    padding: 11px 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #222;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.FAQItem>.brd_FAQItemTitle>div {
    display: flex;
    align-items: center;
}

.FAQItem>.brd_FAQItemTitle>div>h2 {
    padding-right: 20px;
}

.FAQItem>.brd_FAQItemTitle>i {
    width: 15px;
    height: 15px;
    stroke-width: 2px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(-45deg);
    transition: .4s;
}

.FAQItemUl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #DDD;
    background: #FFF;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10) inset;
    overflow: hidden;
    transition: .4s;
}

.FAQItem .brd_FAQContent {
    padding: 30px 40px 0 40px;
    color: #222;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    white-space: pre-line;
}

.FAQItem .brd_FAQWriter {
    display: flex;
    padding: 10px 80px 50px 100px;
    gap: 10px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    white-space: pre-line
}